body {
  background-color: #c9c9c9;

  table {
    background-color: white;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;

      th, td {
        border: 1px solid black;
        padding: 12px;
      }

      td:first-child {
        color: #2a7507;
        font-style: normal;
      }

      th {
        color: #2754db;
        font-style: normal;
      }

  }
}
